$background: #131314;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #303031;

$inverse_primary: #50606c;

$inverse_surface: #e4e2e3;

$on_background: #e4e2e3;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #22323d;

$on_primary_container: #bacbd9;

$on_primary_fixed: #0d1d27;

$on_primary_fixed_variant: #394954;

$on_secondary: #2b3136;

$on_secondary_container: #c6cbd1;

$on_secondary_fixed: #161c21;

$on_secondary_fixed_variant: #41474c;

$on_surface: #e4e2e3;

$on_surface_variant: #c3c7cb;

$on_tertiary: #392c3c;

$on_tertiary_container: #d7c4d8;

$on_tertiary_fixed: #231726;

$on_tertiary_fixed_variant: #504253;

$outline: #8d9195;

$outline_variant: #43474b;

$primary: #b8c9d7;

$primary_container: #2a3a45;

$primary_fixed: #d3e5f3;

$primary_fixed_dim: #b8c9d7;

$scrim: #000000;

$secondary: #c1c7cd;

$secondary_container: #41474c;

$secondary_fixed: #dde3e9;

$secondary_fixed_dim: #c1c7cd;

$shadow: #000000;

$source_color: #2a3a45;

$surface: #131314;

$surface_bright: #39393a;

$surface_container: #1f2020;

$surface_container_high: #292a2b;

$surface_container_highest: #343536;

$surface_container_low: #1b1c1c;

$surface_container_lowest: #0d0e0f;

$surface_dim: #131314;

$surface_variant: #43474b;

$tertiary: #d4c1d5;

$tertiary_container: #413444;

$tertiary_fixed: #f0dcf1;

$tertiary_fixed_dim: #d4c1d5;
